In [1]:
import pandas as pd
import numpy as np
from math import sqrt, ceil
from timeit import timeit, Timer

In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import rc
import seaborn as sns
from matplotlib.animation import FuncAnimation
from matplotlib.patches import ConnectionPatch
import matplotlib.animation as animation

rc('text', usetex=False)
plt.style.use('seaborn')
%matplotlib inline

legend_opts = {
    'fontsize':12,
    'frameon':True, 
    'framealpha':1,
    'facecolor':'white',
    'edgecolor':'black',
    'labelspacing':0.1}

In [30]:
%load_ext autoreload
%aimport utils
%autoreload 1
from utils import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load data

In [4]:
male_scores = pd.read_csv('scores/trimmed_male.csv')
female_scores = pd.read_csv('scores/trimmed_female.csv')

In [8]:
# Randomly choose 10 years for training set, and remaining 4 years for test set
# (which must include the last year 2018 for visualisation purpose)
all_years = range(2005, 2019)
years_before_last = range(2005, 2018)
year_seed = np.random.RandomState(seed=42)
train_years = sorted(list(year_seed.choice(years_before_last, size=10, replace=False)))
test_years = sorted([year for year in years_before_last if year not in train_years] + [2018])
train_years, test_years

([2005, 2006, 2007, 2009, 2010, 2012, 2013, 2014, 2016, 2017],
 [2008, 2011, 2015, 2018])

In [9]:
all_season_scores = male_scores.loc[male_scores['event']!='WR']
all_world_scores = male_scores.loc[male_scores['event']=='WR']

In [10]:
# Split 10 years into train and validation set
random_state = np.random.RandomState(seed=42)
years1 = list(random_state.choice(train_years, size=5, replace=False))
years2 = [year for year in train_years if year not in years1]
years1, years2

([2016, 2006, 2012, 2005, 2014], [2007, 2009, 2010, 2013, 2017])

# Predict ranking in training set from different methods

## Male

In [51]:
beta1 = np.load('data/beta1.npy')
beta2 = np.load('data/beta2.npy')

Average

In [118]:
all_skater_scores = {}
for year in train_years:
    yearly_skater_scores = []
    season_scores, world_scores = get_yearly_scores(year, all_season_scores, all_world_scores)

    avg = AverageScore()
    avg.fit(season_scores)
    yearly_skater_scores.append(avg.skater_scores.reindex(world_scores.index).dropna())

    add = Linear()
    add.fit(season_scores)
    yearly_skater_scores.append(add.skater_scores.reindex(world_scores.index).dropna())

    mul = LogLinear()
    mul.fit(season_scores)
    yearly_skater_scores.append(mul.skater_scores.reindex(world_scores.index).dropna())

    _, _, skater_scores = train_multi(season_scores, n_factors=1, alpha=0.0005, n_iter=47)
    skater_scores = skater_scores.squeeze().reindex(world_scores.index).dropna()
    yearly_skater_scores.append(skater_scores)

    _, _, skater_scores = train_sequential_multi(season_scores, n_factors=4, alpha=0.0005, n_iter=35)
    skater_scores = (skater_scores @ beta1).reindex(world_scores.index).dropna()
    yearly_skater_scores.append(skater_scores)
    
    yearly_skater_scores = pd.concat(yearly_skater_scores, axis=1)
    yearly_skater_scores.columns = ['avg', 'add', 'mul', 'hyb', 'multi']
    all_skater_scores[year] = yearly_skater_scores

Alpha: 0.0005, Iter: 46, Last RMSE: 8.63, Delta RMSE: -0.0010916085
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 8.662, Delta RMSE: -0.0080908948
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 8.605, Delta RMSE: -0.0024092949
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 8.519, Delta RMSE: -0.0036599525
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 8.518, Delta RMSE: -0.000746563
Alpha: 0.0005, Iter: 46, Last RMSE: 7.96, Delta RMSE: -0.0009913676
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 7.999, Delta RMSE: -0.007749829
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 7.986, Delta RMSE: -0.0006821397
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 7.957, Delta RMSE: -0.0011246966
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 7.931, Delta RMSE: -0.0010131301
Alpha: 0.0005, Iter: 46, Last RMSE: 7.62, Delta RMSE: -0.0015000168
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 7.679, Delta RMSE: -0.0133247831
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 7.67, Delta RMSE: -0.0005301796
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 7.663, Delta RMSE: -0.000679466
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 7.622, Delta RMSE: -0.0025093041
Alpha: 0.0005, Iter: 46, Last RMSE: 8.19, Delta RMSE: -0.0011684784
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 8.227, Delta RMSE: -0.0081094179
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 8.174, Delta RMSE: -0.0022480153
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 8.155, Delta RMSE: -0.0009950669
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 8.156, Delta RMSE: -0.0002658324
Alpha: 0.0005, Iter: 46, Last RMSE: 9.74, Delta RMSE: -0.0002059523
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 9.749, Delta RMSE: -0.0024887824
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 9.732, Delta RMSE: -0.0009542372
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 9.643, Delta RMSE: -0.0040834296
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 9.606, Delta RMSE: -0.0016911736
Alpha: 0.0005, Iter: 46, Last RMSE: 8.31, Delta RMSE: -0.0015389791
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 8.382, Delta RMSE: -0.0155885481
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 8.353, Delta RMSE: -0.0009052541
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 8.323, Delta RMSE: -0.0013255725
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 8.305, Delta RMSE: -0.0006082238
Alpha: 0.0005, Iter: 46, Last RMSE: 8.92, Delta RMSE: -0.0004802563
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 8.945, Delta RMSE: -0.00820237
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 8.918, Delta RMSE: -0.0014516174
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 8.902, Delta RMSE: -0.0008187859
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 8.879, Delta RMSE: -0.0007949047
Alpha: 0.0005, Iter: 46, Last RMSE: 8.8, Delta RMSE: -0.0010733665
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 8.847, Delta RMSE: -0.0089871693
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 8.814, Delta RMSE: -0.0014880656
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 8.79, Delta RMSE: -0.0013156967
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 8.775, Delta RMSE: -0.00089049
Alpha: 0.0005, Iter: 46, Last RMSE: 10.98, Delta RMSE: -4.09158e-05
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 10.983, Delta RMSE: -0.0010950823
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 10.923, Delta RMSE: -0.0038132545
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 10.859, Delta RMSE: -0.0031820011
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 10.778, Delta RMSE: -0.0057964043
Alpha: 0.0005, Iter: 46, Last RMSE: 8.86, Delta RMSE: -0.0003194061
Factor: 0, Alpha: 0.0005, Iter: 35, Last RMSE: 8.871, Delta RMSE: -0.0020925243
Factor: 1, Alpha: 0.0005, Iter: 35, Last RMSE: 8.861, Delta RMSE: -0.0004265281
Factor: 2, Alpha: 0.0005, Iter: 35, Last RMSE: 8.836, Delta RMSE: -0.0016416719
Factor: 3, Alpha: 0.0005, Iter: 35, Last RMSE: 8.784, Delta RMSE: -0.0022976621

In [119]:
all_skater_scores[2005]

                              avg         add       mul       hyb      multi
name
Stephane, LAMBIEL      196.470000  109.731448  2.298033  7.396454  13.495678
Jeffrey, BUTTLE        206.566667  130.148900  2.579010  8.881744  16.285082
Evan, LYSACEK          177.116667  100.220900  2.185489  7.016066  12.987351
Johnny, WEIR           212.113333  134.286965  2.613022  9.181933  16.779091
Chengjiang, LI         196.087500  113.586450  2.359024  7.782148  14.319629
Brian, JOUBERT         202.642500  127.310793  2.534848  8.737669  16.140595
Emanuel, SANDHU        189.623333  117.296638  2.417828  8.096663  15.053905
Kevin, VAN DER PERREN  188.965000  110.906654  2.331865  7.533844  13.861783
Frederic, DAMBIER      176.326667   95.684756  2.128268  6.659239  12.141046
Timothy, GOEBEL        208.280000  122.470961  2.455402  8.290080  14.874947
Andrei, GRIAZEV        181.435000   98.375238  2.158056  6.826006  12.513129
Stefan, LINDEMANN      180.665000  104.748668  2.247864  7.245020  13.277139
Ivan, DINEV            156.155000   81.729300  1.966326  5.703593  10.580636
Kristoffer, BERNTSSON  166.700000   79.961448  1.949825  5.630445  10.240228
Daisuke, TAKAHASHI     163.995000   87.690453  2.008577  6.279540  11.629438
Min, ZHANG             178.623333   97.202241  2.151027  6.770471  12.475576
Gheorghe, CHIPER       154.740000   79.938071  1.922735  5.597597  10.191719
Roman, SEROV           168.590000   91.727560  2.088251  6.255385  11.488643
Jamal, OTHMAN          163.480000   76.741448  1.912162  5.438620  10.005720
Sergei, DAVYDOV        161.040000   77.980238  1.921763  5.529970  10.217151
Viktor, PFEIFER        148.060000   61.321448  1.731800  4.524348   8.320880